@font-face {
  font-family: 'desyrel-webfont';
  src: url('fonts/desyrel-webfont/desyrel-webfont.eot');
  src: url('fonts/desyrel-webfont/desyrel-webfont.eot?iefix') format('eot'),
    url('fonts/desyrel-webfont/desyrel-webfont.woff') format('woff'),
    url('fonts/desyrel-webfont/desyrel-webfont.ttf') format('truetype'),
    url('fonts/desyrel-webfont/desyrel-webfont.svg#webfont') format('svg');
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  font-family: 'desyrel-webfont';
  text-align: center;
  color: red;
  padding-top: 20px;
}

#btn__init {
  text-align: center;
  margin: 0 auto;
  background-color: pink;
  color: black;
  box-shadow: 2px 2px black;
}
body {
  background: url('images/oxygen-balloon-celebration-birthday-background.jpg')
    fixed;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  padding-top: 20px;
}

.element {
  display: flex;
  flex-direction: column;
  flex-wrap: ;
  /* vertical-align: center; */
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
}

p {
  display: flex;
  flex-direction: column;
  font-family: 'desyrel-webfont';
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  float: left;
}

.btn__paragraph {
  display: flex;
  width: 100px 70px;
  font-family: 'desyrel-webfont';
  text-align: center;
  
  margin-left: auto;
  border: 2px solid;
  border-radius: 30%; 
  box-shadow:2px 2px black;
}

.element:nth-child(1) {
  background-color: lightgreen;
}
.element:nth-child(2) {
  background-color: lightblue;
}
.element:nth-child(3) {
  background-color: deeppink;
}

/* 
.btn__paragraph:nth-child(1){
background-color: blue;
}
.btn__paragraph:nth-child(2){
color: green;
}
.btn__paragraph:nth-child(3){
color: pink;
}
 */